<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            body{text-align: center;}h2{color: cadetblue;}
            table{height: 30%; width: 100%;border-color: azure;text-align: center;}
            th{background-color: cadetblue; font-weight: bold;color: azure; padding: 10px;}
            form,input{text-align: center; font-size: 20px;margin: 10px;}
            #myD{display: none;}
            i{border: 1px solid aquamarine; font-size: 20px; width: 30px; text-align: center;
            height: 20px; background-color: aquamarine; color: black; padding: 10px;}
            div{text-align: end;}
        </style>
    </head>

    <body>
        <h2>Nandini Agrawal </h2><h2>24DEV075</h2>
        <h2>4 March : Search With Id / AND OR Condition </h2>

        <form method="get" action="/searchID?page=<%=page%>">
            <label>Search ID</label>
            <input type="text" name="stu_id" id="stu_id"  placeholder="search id here" autofocus>
            <input type="submit" value="Search">
            
        </form>
        <button onclick="mydiv()" tabindex="3">Show More</button>
        <div id="myD">

            <form method="get" action="/searchID?page=<%=page%>">
                <label>Student Name</label>
                <input type="text" name="stu_name" placeholder="search for student name">
                <label>Choose Course Name</label>
                <input type="text" name="course" placeholder="search for course"><br>
                <label>Age</label>
                <input type="text" name="age" placeholder="search for age">
                <label>University</label>
                <input type="text" name="university" placeholder="search for university name">
                <br>
                <label>Condition</label>
                <select name="choose">
                    <option value="or ">OR</option>
                    <option value="and ">AND</option>
                </select>
                <input type="submit" value="Search">
            </form>
        </div>


        <table border="1">
           
            <tr><th>Student ID</th>
                <th>Student Name</th>
                <th>Choosen Course</th>
                <th>Pincode</th>
                <th>Age</th>
                <th>University</th>
                <th>City</th>

            </tr>


           
        <form method="post">
            
            <% for(let i=0; i<result.length;i++){%>
                <tr>
                    <td> <%= result[i].stu_id %></td>
                    <td> <%= result[i].stu_name %></td>
                    <td> <%= result[i].course %></td>
                    <td> <%= result[i].pincode %></td>
                    <td> <%= result[i].age %></td>
                    <td> <%= result[i].university %></td>
                    <td> <%= result[i].city %></td>
                </tr>
            <% } %>

            <div>
                <a href="/searchID?page=1" <%if(Number(page)==1){%>onclick='return false;'}<%}%>> <i class="fa-solid fa-backward"></i></a>
                <a href="/searchID?page=<%= Number(page)-1 %>" <%if(Number(page)==1){%>onclick='return false;'} <%}%>  >  <i class="fa-solid fa-arrow-left"></i>  </a>
                <%= page %> Page
                <a href="/searchID?page=<%= Number(page)+1 %>" <%if(Number(page)==10){%>onclick='return false;'} <%}%> > <i class="fa-solid fa-arrow-right"></i> </a>
                <a href="/searchID?page=10" <%if(Number(page)==10){%>onclick='return false;'} <%}%>> <i class="fa-solid fa-forward"></i> </a>
            </div>
            
     </form>

     <script>
        function mydiv()
        {
            var x = document.getElementById("myD")
            if(x.style.display == 'block')
            {
                x.style.display = 'none';
            }
            else{
                x.style.display = 'block';
            }
        }
    </script>

    </body>
   
</html>